@import "../abstracts/variables";

:root {
  background-color: $content_background;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(197, 115, 0);
  border-radius: 10px;
  transition: 500ms;
}

::-webkit-scrollbar-track {
  background: none;
} /* Handle */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  font-family: "Quicksand", sans-serif;
}
