@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Quicksand:wght@300&display=swap");
.explore-btn, .know_more_btn {
  outline: none;
  background: none;
  border: none;
  padding: 1em;
  border-radius: 2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  font-size: 15px;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #ff912a;
          box-shadow: 0px 0px 10px 0px #ff912a;
}

.explore-btn::before, .know_more_btn::before {
  content: "";
}

.explore-btn:hover, .know_more_btn:hover {
  background-color: rgba(255, 145, 42, 0.301);
}

.explore-btn a, .know_more_btn a {
  color: white;
  text-decoration: none;
}

/*
    iem = 14px
*/
:root {
  background-color: #001c18;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #c57300;
  border-radius: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  font-family: "Quicksand", sans-serif;
}

.explore-btn, .know_more_btn {
  outline: none;
  background: none;
  border: none;
  padding: 1em;
  border-radius: 2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  font-size: 15px;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #ff912a;
          box-shadow: 0px 0px 10px 0px #ff912a;
}

.explore-btn::before, .know_more_btn::before {
  content: "";
}

.explore-btn:hover, .know_more_btn:hover {
  background-color: rgba(255, 145, 42, 0.301);
}

.explore-btn a, .know_more_btn a {
  color: white;
  text-decoration: none;
}

/*
    iem = 14px
*/
.bottom-line, .introduceMe .bottomLine:nth-child(2), .introduceMe .bottomLine:nth-child(3) {
  width: 330px;
  height: 1px;
  background-color: #ff912a;
  position: relative;
}

.HeroContent {
  background-color: #001c18;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em 0em 0em 0em;
}

.heroImage img {
  width: 14em;
  float: right;
}

@media (max-width: 1024px) {
  .heroImage img {
    margin: 2em 0em 0em 0em;
    width: 10em;
  }
}

.profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 860px) {
  .profiles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 385px) {
  .profiles {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

.profiles a {
  color: white;
  margin: 0.5em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
}

@media (max-width: 425px) {
  .profiles a {
    margin: 0em;
  }
}

.profiles a img {
  margin: 0em 0.5em 0em 0em;
}

.linkedin {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#0a66c2), color-stop(50%, #0a66c2), color-stop(50%, white));
  background: linear-gradient(to right, #0a66c2, #0a66c2 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.linkedin:hover {
  background-position: 0 100%;
}

.instagram {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#af2634), color-stop(50%, #af2634), color-stop(50%, white));
  background: linear-gradient(to right, #af2634, #af2634 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.instagram:hover {
  background-position: 0 100%;
}

.github {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#0d1117), color-stop(50%, #0d1117), color-stop(50%, white));
  background: linear-gradient(to right, #0d1117, #0d1117 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.github:hover {
  background-position: 0 100%;
}

.leetcode {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#9b7e00), color-stop(50%, #9b7e00), color-stop(50%, white));
  background: linear-gradient(to right, #9b7e00, #9b7e00 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.leetcode:hover {
  background-position: 0 100%;
}

.hackerRank {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#048100), color-stop(50%, #048100), color-stop(50%, white));
  background: linear-gradient(to right, #048100, #048100 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.hackerRank:hover {
  background-position: 0 100%;
}

.introduceMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0em 0em 0em;
  text-align: center;
}

.introduceMe .bottomLine:nth-child(2) {
  margin: -1em 0em 0em 1em;
}

.introduceMe .bottomLine:nth-child(3) {
  margin: 0.2em 1em 0em 0em;
}

.know_more_btn {
  margin: 1.5em 0em 0em 0em;
  -webkit-animation: shakeAnim 5s ease-in;
          animation: shakeAnim 5s ease-in;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes shakeAnim {
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  4% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  7% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  13% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
  }
}

@keyframes shakeAnim {
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  4% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  7% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  13% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.459);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.up-arrow {
  margin-top: 10px;
}

.up-arrow:hover {
  margin-top: -50px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.13);
}

.navContent ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0em 0em 0em 0em;
}

.navContent ul li {
  list-style: none;
  padding-bottom: 3px;
  z-index: 1;
}

.navContent ul li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ff912a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-radius: 2em;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.navContent ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navContent ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/*
    iem = 14px
*/
.heading {
  margin: 5em 2em 2em 2em;
}

@media (max-width: 1024px) {
  .heading {
    margin-top: 10em;
  }
}

@media (max-width: 860px) {
  .heading {
    margin-top: 15em;
  }
}

.heading h1::after {
  content: "";
  display: block;
  margin-top: 0.3em;
  width: 3.5em;
  border-bottom: 2px solid white;
}

.about_me_content {
  margin: 7em 0em 2em 0em;
}

@media (max-width: 1024px) {
  .about_me_content {
    margin: 7em 1em 2em 1em;
  }
}

@media (max-width: 964px) {
  .about_me_content {
    margin: 7em 1em 2em 1em;
  }
}

.about_me_content .avatar {
  width: 7em;
  height: 7em;
  margin-top: -7em;
  margin-left: 4.5em;
}

@media (max-width: 425px) {
  .about_me_content .avatar {
    margin-left: 2.5em;
  }
}

.about_me_content .my_self {
  background-color: #ff912a;
  height: auto;
  width: 20em;
  float: left;
  padding: 4em 2em 2em 2em;
  border-radius: 1.5em;
  color: black;
  font-weight: 800;
}

@media (max-width: 425px) {
  .about_me_content .my_self {
    width: 15em;
  }
}

.about_me_content .my_self p {
  color: black;
}

.skills {
  margin: 0em 0em 0em 7em;
  position: relative;
}

.about_and_skills_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 964px) {
  .about_and_skills_content {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.small_about_heading {
  width: 80px;
  margin-left: 4em;
}

@media (max-width: 1024px) {
  .small_about_heading {
    margin-left: 2em;
    display: block;
    position: relative;
  }
}

.small_about_heading::after {
  content: "";
  display: block;
  margin-top: 0.3em;
  border-bottom: 2px solid white;
}

@media (max-width: 1024px) {
  .skill_heading {
    margin-left: -2em;
  }
}

.skill_heading h3::after {
  content: "";
  display: block;
  margin-top: 0.3em;
  width: 2.7em;
  border-bottom: 2px solid white;
}

.skill_content {
  margin: 7em 1em 0em 2em;
}

@media (max-width: 1024px) {
  .skill_content {
    margin: 7em 1em 0em 0em;
  }
}

.app_tools {
  margin-top: 2em;
}

.tools {
  margin-top: 2em;
}

/*
    iem = 14px
*/
.project_heading {
  margin: 4em 0em 0em 1em;
}

.project_heading::after {
  content: "";
  display: block;
  margin-top: 0.3em;
  width: 4.5em;
  border-bottom: 2px solid white;
}

.card {
  margin: 7em 0em 7em 4em;
}

@media (max-width: 860px) {
  .card {
    margin: 7em 0em 7em 0em;
  }
}

.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 860px) {
  .card_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2;
        grid-template-columns: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card_image img {
  width: 32em;
}

@media (max-width: 1024px) {
  .card_image img {
    width: 26em;
  }
}

@media (max-width: 425px) {
  .card_image img {
    width: 20em;
  }
}

@media (max-width: 860px) {
  .card_image {
    text-align: center;
  }
}

.content {
  margin: 0em 2em 0em 2em;
}

@media (max-width: 860px) {
  .content {
    margin: 0em 1em 0em 0em;
  }
}

@media (max-width: 1024px) {
  .card_heading {
    margin-top: -1em;
  }
}

@media (max-width: 860px) {
  .card_heading {
    margin-top: 2em;
    margin-left: 1em;
  }
}

.card_heading h2 {
  font-weight: bold;
}

.main {
  margin-left: 1em;
}

@media (max-width: 860px) {
  .main {
    margin-left: 1em;
  }
}

.source {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */