.explore-btn, .know-more-btn {
  outline: none;
  background: none;
  border: none;
  padding: 1em;
  border-radius: 2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
  font-size: 15px;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #ff912a;
          box-shadow: 0px 0px 10px 0px #ff912a;
}

.explore-btn::before, .know-more-btn::before {
  content: "";
}

.explore-btn:hover, .know-more-btn:hover {
  background-color: rgba(255, 145, 42, 0.301);
}

.bottom-line, .introduceMe .bottomLine:nth-child(2), .introduceMe .bottomLine:nth-child(3) {
  width: 330px;
  height: 1px;
  background-color: #ff912a;
  position: relative;
}

.HeroContent {
  background-color: #001c18;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em 0em 0em 0em;
}

.heroImage img {
  width: 14em;
  float: right;
}

.introduceMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0em 0em 0em;
  text-align: center;
}

.introduceMe .bottomLine:nth-child(2) {
  margin: -1em 0em 0em 1em;
}

.introduceMe .bottomLine:nth-child(3) {
  margin: 0.2em 1em 0em 0em;
}

.know-more-btn {
  margin: 1.5em 0em 0em 0em;
  -webkit-animation: shakeAnim 5s ease-in;
          animation: shakeAnim 5s ease-in;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes shakeAnim {
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  4% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  7% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  13% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
  }
}

@keyframes shakeAnim {
  1% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  3% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  4% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  5% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  7% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  9% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  13% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
  }
}
/*# sourceMappingURL=hero.css.map */