@import "../abstracts/variables";
@import "../components/button";
@import "../abstracts/mixins";

.bottom-line {
  width: 330px;
  height: 1px;
  background-color: $linesColor;
  position: relative;
}

.HeroContent {
  background-color: $content_background;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heroImage {
  display: flex;
  justify-content: center;
  margin: 4em 0em 0em 0em;
  img {
    width: 14em;
    float: right;

    @include for_breakpoint(laptop) {
      margin: 2em 0em 0em 0em;
      width: 10em;
    }
  }
}

.profiles {
  display: flex;
  justify-content: center;

  @include for_breakpoint(tablet) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  @include for_breakpoint(mobile-m) {
    // display: grid;
    grid-template-columns: auto auto auto;
    // justify-content: center;
  }

  a {
    color: white;
    margin: 0.5em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0.5em;

    @include for_breakpoint(mobile-l) {
      margin: 0em;
    }

    img {
      margin: 0em 0.5em 0em 0em;
    }
  }
}

.linkedin {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #0a66c2, #0a66c2 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}

.instagram {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #af2634, #af2634 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}

.github {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #0d1117, #0d1117 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}

.leetcode {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #9b7e00, #9b7e00 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}

.hackerRank {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #048100, #048100 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  &:hover {
    background-position: 0 100%;
  }
}

.introduceMe {
  display: flex;
  justify-content: center;
  margin: 2em 0em 0em 0em;
  text-align: center;
  .bottomLine:nth-child(2) {
    @extend .bottom-line;
    margin: -1em 0em 0em 1em;
  }

  .bottomLine:nth-child(3) {
    @extend .bottom-line;
    margin: 0.2em 1em 0em 0em;
  }
}

.know_more_btn {
  @extend .explore-btn;
  margin: 1.5em 0em 0em 0em;
  animation: shakeAnim 5s ease-in;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transition: 0.5s;
}

@keyframes shakeAnim {
  1% {
    transform: rotate(-10deg);
  }
  2% {
    transform: rotate(10deg);
  }
  3% {
    transform: rotate(-10deg);
  }
  4% {
    transform: rotate(10deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  6% {
    transform: rotate(10deg);
  }

  7% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  11% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(0deg);
  }
  13% {
    transform: rotate(0deg);
  }
  100% {
    // transform: rotate(0deg);
  }
}
